<table>
  <tr>
    <th>email</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'users/user', :collection => @users %>
</table>
